# Data
Data/*
!Data/Beatmap-Packs/Put-Beatmap-Packs-Here
# !Data/Trainables

# Virtualenv
# http://iamzed.com/2009/05/07/a-primer-on-virtualenv/
.Python
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts
pyvenv.cfg
.venv
pip-selfcheck.json

# iPython
__pycache__/
.ipynb_checkpoints

# Mac 
.DS_Store

# For debugging
# if needed `ln -s <path/to/librosa/librosa> demos/librosa`
demos/librosa

